{% set grid_size = theme_var('grid-size') %}
{% set columns = page.header.class == 'small' ? 'col-3 col-md-4 col-sm-6' : 'col-4 col-md-6 col-sm-12'  %}
<section class="section modular-features {{ page.header.class}}">
        <section class="container {{ grid_size }}">
            <div class="frame-box">

               {{ content|raw }}
               <br>

               <div class="columns">

			         {% for item in page.header.features2 %}

			            <section class="{{columns}} feature">
				            {% if item.image %}
					            <div class="image-wrapper {% if loop.first %}first{% endif %}">
						            <a href="{{item.url}}" class="image featured {% if loop.first %}first{% endif %}"><img src="{{page.media[item.image].url}}" loading="lazy" alt="{{page.title}}" rel="nofollow" /></a>
					            </div>
				            {% endif %}
				            {% if item.text %}
					            <p>{{item.text|raw}}</p>
				            {% endif %}
			            </section>
                  {% endfor %}
               </div>
            </div>
        </section>
</section>
